<p id="notice"><%= notice %></p>
<div class="container">
  <h1>All our flats</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/random/800x600/?airbnb" class="card-img-top" alt="flat">
          <div class="card-body">
            <h5 class="card-title font-weight-bold"><%= flat.name %></h5>
            <p><%= flat.address %></p>
            <div class="d-flex">
              <p class='pr-2'><%=icon('fas', 'user-friends')%> <%= flat.number_of_guests %></p>
              <p><%=icon('fas', 'euro-sign')%> <%= flat.price_per_night.to_s %></p>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-around pb-0">
            <p><%= link_to 'More info', flat_path(flat.id) %></p>
            <p><%= link_to 'Edit', edit_flat_path(flat.id), style: 'color: rgb(230,170,0);' %></p>
            <p><%= link_to 'Remove', flat_path(flat.id), style: 'color: rgb(230,0,0);' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
